.side-bar{
    width: 70px;
    overflow: visible;
    background: #071534;
    color: white;
    transition: width 0.3s ease;
    flex-shrink: 0;
     padding-top: 15px;
     
    
}
.side-bar.show{
     width: 252px;
}

/* .side-bar h2{
    margin-bottom: 30px;
} */


.side-bar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.side-bar li{
    border-radius: 10px;
     margin: 4px 8px;  
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #94A3B8;
    font-size: 14px;
    font-weight: 600;
    gap: 12px;
    /* opacity: 1;
    transform: translateX(-10px); */
    transition: all 0.3s ease;
}
.side-bar li a {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 10px 12px;
    border-radius: 10px;
    overflow: visible;  
    position: relative; 
    z-index: 1;
}
.side-bar li a::before{
     content: "";
    position: absolute;
    inset: 0;
    width: 0%;
    background: #2962ff;
    border-radius: 10px;
    z-index: -1;
    transition: width 1s ease;
}

.side-bar li a:hover::before {
    width: 100%;
    
}
.side-bar a {
    text-decoration: none;
    color: white;
    
    display: flex;              
    align-items: center;        
    gap: 8px;                     
    width: 100%;                
     padding: 10px 12px;
    border-radius: 10px;
}
.side-bar a.active {
    background: #2962ff;
}
.sidebar-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
    padding: 0 14px;
    height: 50px;
   
     
}

.logo-img{
    width: 35px;
    height: 35px;
    object-fit: contain;
    background: #fff;
    border-radius: 50%;
    margin: 5px;
    
}

h2{
    
    font-weight: 600;
    color: #fff;
}
.menu-dot{
    width: 9px;
    height: 9px;
    background: #7d879c;
    border-radius: 2px;
    display: inline-block;
    margin-right: 12px;
}
.active{
    background: #2962ff;
    
}
.skylog{
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.small-logos{
    object-fit: contain;
    gap: 10px;
    width: 25px;
    height: 25px;
    filter: brightness(0) invert(1);
    opacity: 0.9;
}
.menu-text {
    display: inline-block;
    white-space: nowrap;

    opacity: 0;
    transform: translateX(-10px);

    max-width: 0;
    overflow: hidden;

    
}
.side-bar.show .menu-text {
    opacity: 1;
    max-width: 200px;
    transform: translateX(0);
}
/* .side-bar:not(.show) li:hover .menu-text {
    max-width: max-content;
    opacity: 1;
    transform: translateX(0);
} */
.side-bar.show .logo{
    justify-content: flex-start;
}
.side-bar:not(.show) .logo{
    justify-content: center;
    padding: 0;
}
.logo-text{
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}
.side-bar.show .logo-text{
    opacity: 1;
}


/* MOBILE */
@media (max-width:768px){

    .side-bar{
        position: fixed;
        top: 0;
        left: -260px;
        width: 250px;
        height: 100vh;
        z-index: 1000;
        overflow-y: auto;
    }

    .side-bar.show{
        left: 0;
    }
}

/* DESKTOP */
@media (max-width:768px){

    .side-bar{
        position: fixed;
        top: 0;
        left: -220px;
        width: 220px;
        height: 100vh;

        z-index: 1000;
        overflow-y: auto;

        box-shadow: 2px 0 15px rgba(0,0,0,0.15);
    }

    .side-bar.show{
        left: 0;
    }
}

/* .side-bar{
    width: 0;
    overflow: hidden;
    min-height: 100vh;
    background: #071534;
    color: white;
    transition: width 0.3s ease;
    flex-shrink: 0;
}

.side-bar.show{
    width: 252px;
} */