.manual-container {
  background: #f4f7fc;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.manual-box {
  width: 470px;
  min-height: 700px;
  min-height:auto ;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.manual-box h2 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #1e293b;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

label {
  font-size: 14px;
  color: black;
  margin-bottom: 6px;
}

input, select, textarea {
  height: 36px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 0 12px;
  font-size: 13 px;
  outline: none;
  font-family: "Inter", sans-serif;
  color: #475363;
}

textarea {
  height: 40px;
  padding-top: 10px;
  resize: none;
}

input:focus, select:focus, textarea:focus {
  border: 2px solid #2563eb;
  box-shadow: 0 0 0 3px rgba(37,99,235,0.15);
}

.row-2 {
  display: flex;
  gap: 15px;
}
.row-group {
  display: flex;
  gap: 15px;
}
.row-group .form-group{
  flex: 1;
}
.row-2 .form-group{
  flex: 1;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.cancel-btn {
  padding: 10px 14px;
  border: 1px solid #e2e8f0;
  background: white;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Inter",sans-serif;
}

.save-btn {
  padding: 10px 14px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
font-family: "Inter",sans-serif;
}
.error{
  position: absolute;
  left: 0;
  top: calc(100% + 2px);
  line-height: 1;
  color: red;
  font-size: 13.5px;
  margin-top: 7px;
}
.required{
  color: #ef4444;
  margin-left: 2px;
  font-weight: 600;
}

@media (max-width: 768px) {

  .manual-container {
    padding: 15px;
  }

  .manual-box {
    width: 100%;
min-height: auto;
 padding: 20px;
    border-radius: 10px;
  }
  .manual-box h2{
    text-align: center;
  }
  .row-group {
    flex-direction: column;
    gap: 12px;
  }

  input,
  select,
  textarea {
    width: 100%;
    box-sizing: border-box;
  }

  .button-group {
    flex-direction: column;
    gap: 10px;
  }

  .cancel-btn{
    display: none;
  }
  .save-btn {
    width: 100%;
  }
}

